@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: local("Inter-Light"), url("../assets/fonts/Inter/Inter-Light.woff2") format("woff2"), url("../assets/fonts/Inter/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url("../assets/fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../assets/fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-Medium"), url("../assets/fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../assets/fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("Inter-SemiBold"), url("../assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../assets/fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Prata";
  src: local("Prata-Regular"), url("../assets/fonts/Prata/Prata-Regular.woff2") format("woff2"), url("../assets/fonts/Prata/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.sale__card-selects .choices, .header-top__select-block .choices,
.burger-select .choices {
  margin-top: 13px;
  font-size: 14px;
}
.sale__card-selects .choices__inner, .header-top__select-block .choices__inner,
.burger-select .choices__inner {
  width: 197px;
  background-color: transparent;
  border: none;
}
.sale__card-selects .choices__list--dropdown .choices__item--selectable.is-highlighted, .header-top__select-block .choices__list--dropdown .choices__item--selectable.is-highlighted,
.burger-select .choices__list--dropdown .choices__item--selectable.is-highlighted, .sale__card-selects .choices__list[aria-expanded] .choices__item--selectable.is-highlighted, .header-top__select-block .choices__list[aria-expanded] .choices__item--selectable.is-highlighted,
.burger-select .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}
.sale__card-selects .choices__list--dropdown .choices__item--selectable, .header-top__select-block .choices__list--dropdown .choices__item--selectable,
.burger-select .choices__list--dropdown .choices__item--selectable, .sale__card-selects .choices__list[aria-expanded] .choices__item--selectable, .header-top__select-block .choices__list[aria-expanded] .choices__item--selectable,
.burger-select .choices__list[aria-expanded] .choices__item--selectable {
  padding: 0;
}
.sale__card-selects .choices__item:not(:last-child), .header-top__select-block .choices__item:not(:last-child),
.burger-select .choices__item:not(:last-child) {
  margin-bottom: 20px;
}
.sale__card-selects .choices__list--dropdown, .header-top__select-block .choices__list--dropdown,
.burger-select .choices__list--dropdown, .sale__card-selects .choices__list[aria-expanded], .header-top__select-block .choices__list[aria-expanded],
.burger-select .choices__list[aria-expanded] {
  padding: 24px 28px 22px 24px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
.sale__card-selects .choices[data-type*=select-one]::after, .header-top__select-block .choices[data-type*=select-one]::after,
.burger-select .choices[data-type*=select-one]::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  background: url("../assets/svg/arrow.svg") no-repeat right center/contain;
  border-style: none;
}
.sale__card-selects .choices[data-type*=select-one].is-open::after, .header-top__select-block .choices[data-type*=select-one].is-open::after,
.burger-select .choices[data-type*=select-one].is-open::after {
  margin-top: 0;
  top: 40%;
  transform: rotate(180deg);
}
.sale__card-selects .is-selected::before, .header-top__select-block .is-selected::before,
.burger-select .is-selected::before {
  content: "";
  width: 11px;
  height: 8px;
  position: absolute;
  top: 7px;
  right: 0px;
  background: url("../assets/svg/check.svg") no-repeat right center/cover;
}

.articles__title, .best__title, .sale__title, .popular__title {
  margin-bottom: 0;
  font-family: "Prata";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
}
@media (max-width: 645px) {
  .articles__title, .best__title, .sale__title, .popular__title {
    font-size: 25px;
  }
}

.popular__сategories, .header-top__login-link, .header-top__number-link,
.burger-number-link {
  color: #303030;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.popular__сategories:hover, .header-top__login-link:hover, .header-top__number-link:hover,
.burger-number-link:hover {
  color: #A2A2A2;
}
.popular__сategories:active, .header-top__login-link:active, .header-top__number-link:active,
.burger-number-link:active {
  color: #E1A661;
}

.sale__pagination, .pagination {
  position: absolute;
}
.sale__pagination .bullet, .pagination .bullet {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 100%;
}
.sale__pagination .bullet:not(:last-child), .pagination .bullet:not(:last-child) {
  margin-right: 8px;
}
.sale__pagination .bullet--active, .pagination .bullet--active {
  background-color: #303030;
}

::-webkit-scrollbar {
  display: none;
}

.body {
  min-width: 320px;
  font-family: "Inter";
  background-color: #FFFFFF;
  color: #303030;
}

.header {
  margin: 24px 0 20px 0;
  padding: 0 10px 0 10px;
}

.header-top {
  margin-bottom: 18px;
}

.container-limit {
  max-width: 1300px;
}

.col-lg-12 {
  padding: 0;
}

.header-top__left {
  width: 100%;
  max-width: 361px;
  display: flex;
  justify-content: space-between;
}

.header-top__select-block .choices::before,
.burger-select .choices::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;
  width: 12px;
  height: 16px;
  background: url("../assets/svg/marker.svg") no-repeat left center/contain;
}
.header-top__select-block .choices__inner,
.burger-select .choices__inner {
  padding: 7.5px 19.5px 3.75px;
}
.header-top__select-block .choices[data-type*=select-one]::after,
.burger-select .choices[data-type*=select-one]::after {
  right: 36.5px;
}

.burger-select-item {
  display: none;
}

.number-link-item {
  display: none;
}

.header-top__number-link,
.burger-number-link {
  width: 100%;
  max-width: 145px;
  margin: 13px 0 0 23px;
  font-size: 14px;
}

.phone-svg {
  margin-right: 10px;
}

.header-logo {
  margin: 0 33px 3px 0;
}

.header-top__right {
  width: 100%;
  max-width: 330px;
  margin-top: 11px;
}

.header-top__login-link {
  font-size: 14px;
}

.header-top__login-link:first-child {
  border-right: 1px solid #303030;
  padding-right: 12px;
}

.header-top__login-link:last-child {
  padding-left: 9px;
}

.header-top__interaction {
  width: 100%;
  max-width: 116px;
}

.like-button {
  position: relative;
}

.like-button:before {
  content: "23";
  position: absolute;
  width: 19px;
  height: 19px;
  top: -3px;
  right: -13px;
  padding-top: 2px;
  font-weight: 700;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
  background-color: #E46942;
  border-radius: 100%;
}

.header__like-svg path {
  fill: #303030;
  transition: fill 0.2s ease-in-out;
}

.header-button:hover .header__like-svg path {
  fill: #A2A2A2;
}

.header-button:active .header__like-svg path {
  fill: #E1A661;
}

.chart-svg line {
  stroke: #303030;
  transition: stroke 0.2s ease-in-out;
}

.bag-svg rect:first-child,
.bag-svg mask {
  fill: #FFFFFF;
}

.bag-svg rect:nth-child(3),
.bag-svg path {
  stroke: #303030;
  transition: stroke 0.2s ease-in-out;
}

.header-button:hover .chart-svg line,
.header-button:hover .bag-svg rect:nth-child(3),
.header-button:hover .bag-svg path {
  stroke: #A2A2A2;
}

.header-button:active .chart-svg line,
.header-button:active .bag-svg rect:nth-child(3),
.header-button:active .bag-svg path {
  stroke: #E1A661;
}

.burger {
  display: none;
}

.burger-cross {
  display: none;
}

.header-bottom {
  position: relative;
  background-color: #F8F8F8;
}

.header-bottom__nav {
  width: 100%;
  max-width: 998px;
  padding: 22px 110px 20px 50px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  border: none;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.nav-link:hover {
  opacity: 0.5;
}

.nav-link:active {
  color: #E1A661;
}

.header-bottom__search {
  width: 100%;
  max-width: 302px;
  height: 100%;
  border-left: 1px solid #F0F0F0;
}

.loupe-svg {
  margin-left: 24px;
}

.loupe-svg path {
  fill: #303030;
  transition: fill 0.2s ease-in-out;
}

.header-button:hover .loupe-svg path {
  fill: #A2A2A2;
}

.header-button:active .loupe-svg path {
  fill: #E1A661;
}

.header-bottom__input {
  max-width: 124px;
  margin-left: 11px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}

.header-bottom__input::placeholder {
  font-size: 14px;
}

.hero {
  margin-bottom: 120px;
  padding: 0 10px 0 10px;
}

.hero__row {
  position: relative;
  background-color: #F8F8F8;
}

.hero__left {
  width: 100%;
  max-width: 723px;
  min-height: 561px;
  font-family: "Prata";
  background: url("../assets/img/hero-left-bg.png") no-repeat left bottom/contain;
}

.hero__content {
  padding-left: 19px;
}

.hero__sale {
  margin: 9px 0 31px 0;
  font-size: 23.4px;
  line-height: 100%;
  letter-spacing: -2px;
}

.hero__title {
  margin-bottom: 52px;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -1.6px;
}

.hero__btn {
  width: 100%;
  max-width: 200px;
  min-height: 54px;
  margin-bottom: 13px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #303030;
  transition: background-color 0.2s ease-in-out;
}

.hero__btn:hover {
  background: #505050;
}

.hero__btn:active {
  background: #000000;
}

.hero__right {
  width: 100%;
  max-width: 548px;
  min-height: 548px;
  position: relative;
  right: 7px;
  top: 6px;
  background: url("../assets/img/hero-bg.png") no-repeat right center/contain;
}

.pagination {
  bottom: 25px;
  margin-left: 2px;
}

.hero__arrows {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 253px;
  padding: 0 24px;
}

.left-arrow {
  transform: rotate(180deg);
}

.arrow circle {
  stroke: #303030;
  fill: transparent;
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.arrow path {
  fill: #000000;
  transform: translateX(0px);
  transition: transform 0.1s ease-in-out;
}

.button-arrow:hover .arrow circle {
  fill: #F8F8F8;
}

.button-arrow:active .arrow path {
  transform: translateX(8px);
}

.popular {
  margin-bottom: 120px;
  padding: 0 10px 0 10px;
}

.popular__title {
  margin-bottom: 39px;
}

.popular__card-row {
  justify-content: space-between;
  gap: 10px;
}

.popular__card {
  max-width: 200px;
  min-height: 259px;
  position: relative;
  padding: 10px;
  background-color: #F8F8F8;
}

.popular__сategories {
  margin-bottom: 13px;
  text-align: center;
}

.popular__сategories::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popular__card:nth-child(3) .popular__сategories {
  margin-bottom: 10px;
  line-height: 15px;
}

.popular__product {
  width: 100%;
  height: 100%;
}

.popular-rings {
  background: url("../assets/img/popular-rings.png") no-repeat center center/127px 100px;
}

.popular-earrings {
  background: url("../assets/img/popular-earrings.png") no-repeat center center/102px 130px;
}

.popular-wedding-rings {
  background: url("../assets/img/popular-wedding-rings.png") no-repeat center center/117px 93px;
}

.popular-bracelet {
  background: url("../assets/img/popular-bracelet.png") no-repeat center center/141px 118px;
}

.popular-pedant {
  background: url("../assets/img/popular-pedant.png") no-repeat center center/128px 128px;
}

.popular-watches {
  background: url("../assets/img/popular-watches.png") no-repeat center center/122px 147px;
}

.sale {
  padding: 0 10px 0 10px;
  margin-bottom: 120px;
}

.sale__title {
  margin-bottom: 24px;
}

.sale__top-row {
  position: relative;
  margin-bottom: 36px;
}

.sale__categories {
  width: 100%;
  max-width: 461px;
}

.sale__btn {
  padding: 13px 30px;
  font-size: 14px;
  line-height: 100%;
  background-color: #F0F0F0;
  border-radius: 21px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.sale__btn:hover {
  background-color: #DDDDDD;
}

.sale__btn:active {
  background-color: #303030;
  color: #FFFFFF;
}

.sale__arrows {
  position: absolute;
  top: -14px;
  right: 5px;
}

.sale-arrow {
  opacity: 0.2;
  margin-right: 4px;
}

.sale__card {
  width: 100%;
  max-width: 310px;
  min-height: 370px;
  position: relative;
  padding: 15px 21px 24px 24px;
  cursor: pointer;
}

.sale__card::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border: 1px solid #F0F0F0;
}

.sale__card--active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
}

.sale__card-top {
  width: 100%;
  min-height: 240px;
}

.first-ring {
  background: url("../assets/img/sale-first-ring.png") no-repeat top 24px center/200px 200px;
}

.second-ring {
  background: url("../assets/img/sale-second-ring.png") no-repeat top 24px center/200px 200px;
}

.third-ring {
  background: url("../assets/img/sale-third-ring.png") no-repeat top 24px center/200px 200px;
}

.fourth-ring {
  background: url("../assets/img/sale-fourth-ring.png") no-repeat top 24px center/200px 200px;
}

.tag-sale {
  height: fit-content;
  margin-right: 4px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #5B8A8F;
  border-radius: 15px;
  cursor: default;
}

.tag-hit {
  height: fit-content;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #E1A661;
  border-radius: 15px;
  cursor: default;
}

.like-btn {
  margin-bottom: 9px;
}

.like-svg path,
.view-more-svg path {
  fill: #C9C9C9;
  transition: fill 0.1s ease-in-out;
}

.like-btn:hover .like-svg path,
.more-btn:hover .view-more-svg path {
  fill: #979797;
}

.like-btn:active .like-svg path {
  fill: #E24B33;
}

.more-btn:active .view-more-svg path {
  fill: #000000;
}

.sale__pagination {
  top: 60.8%;
  left: 43.4%;
}

.sale__card-bottom {
  position: relative;
}

.sale__card-price {
  display: inline-block;
  position: relative;
  margin: 11px 9px 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.sale-prise::before {
  content: "-45%";
  position: absolute;
  padding: 4px 8px;
  right: -183px;
  bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #E24B33;
  border-radius: 15px;
}

.sale__card-old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8F8F8F;
}

.sale__card-descr {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.sale__card-selects {
  width: 100%;
  max-width: 310px;
  position: absolute;
  bottom: -108px;
  left: 0;
  display: none;
  visibility: hidden;
  padding: 0 24px 20px;
  z-index: 3;
}
.sale__card-selects .choices {
  margin-bottom: 0;
  background-color: #F0F0F0;
}
.sale__card-selects .choices:first-child {
  margin-top: 0;
}
.sale__card-selects .choices:last-child {
  margin-top: 5px;
}
.sale__card-selects::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-right: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
}
.sale__card-selects .choices__list--single {
  padding: 4px 16px 4px 0px;
}
.sale__card-selects .choices__inner {
  padding: 7px 5px 5px 16px;
}
.sale__card-selects .choices[data-type*=select-one]::after, .sale__card-selects .header-top__select-block .choices[data-type*=select-one]::after {
  right: 14px;
}

.selects--active {
  display: block;
  visibility: visible;
}

.sale__rings-row {
  margin-bottom: 120px;
  justify-content: space-between;
  gap: 5px;
}

.sale__banners-row {
  gap: 10px;
  justify-content: space-between;
}

.sale__banner {
  max-width: 420px;
  min-height: 290px;
  position: relative;
  padding: 0;
  background-color: #F8F8F8;
  cursor: pointer;
}

.sale__banner::after {
  content: "";
  width: 100%;
  max-width: 310px;
  min-height: 265px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: url("../assets/img/sale-banner-bg.png") no-repeat left bottom/contain;
}

.sale__banner-left {
  position: relative;
  z-index: 2;
}

.sale__banner-descr {
  max-width: 222px;
  padding: 72px 0 0 27px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
}

.sale__banner-sale {
  width: 194px;
  height: 52px;
  position: absolute;
  bottom: 48px;
  left: 0;
  padding: 0 26px 0 22px;
}

.sale__first-banner {
  background-color: #43807F;
}

.sale__second-banner {
  background-color: #E24B33;
}

.sale__third-banner {
  background-color: #E1A661;
}

.sale__banner-sale-text {
  display: inline-block;
  margin: 0 14px 0 4px;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

.sale__banner-precent {
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}

.first-banner-img {
  width: 100%;
  max-width: 124px;
  min-height: 283px;
  margin-right: 18px;
  z-index: 2;
  background: url("../assets/img/sale-first-banner.png") no-repeat right top/contain;
}

.second-banner-img {
  width: 100%;
  max-width: 229px;
  min-height: 283px;
  z-index: 2;
  background: url("../assets/img/sale-second-banner.png") no-repeat right bottom/contain;
}

.third-banner-img {
  width: 100%;
  max-width: 221px;
  min-height: 283px;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 2;
  background: url(../assets/img/sale-third-banner.png) no-repeat right bottom/contain;
}

.best {
  margin-bottom: 126px;
  padding: 0 10px 0 10px;
}

.best__row-title {
  margin-bottom: 34px;
  position: relative;
}

.best__arrows {
  position: absolute;
  top: -7px;
  right: 4px;
}

.best__row {
  background-color: #FFFFFF;
}

.best__left {
  min-height: 550px;
  position: relative;
  overflow: hidden;
}

.best__left-top {
  width: 100%;
  max-width: 147px;
  position: absolute;
  top: 22px;
  left: 17px;
}

.tag-new {
  margin-right: 4px;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #495159;
  border-radius: 15px;
}

.best__left-img {
  width: 86%;
  height: 102%;
  background: url(../assets/img/best-bg.png) no-repeat top 50% right 50%/contain;
}

.best__left-arrows {
  width: 80%;
  position: absolute;
  top: 48.5%;
  left: 15px;
}

.best-arrow {
  transform: translateX(0px);
  transition: transform 0.1s ease-in-out;
}

.best-arrow:active {
  transform: translateX(8px);
}

.best-left-arrow {
  opacity: 0.2;
  transform: rotate(180deg);
}

.best__right {
  padding: 0;
}

.best__right-rating {
  display: inline-block;
  margin-bottom: 23px;
  cursor: pointer;
}

.rating-star {
  margin-right: 2px;
}

.best__right-estimation {
  font-size: 14px;
  color: #303030;
}

.best__right-commodity {
  margin-bottom: 14px;
  font-family: "Prata";
  font-size: 32px;
  line-height: 100%;
}

.best__right-code {
  display: block;
  margin-bottom: 34px;
  font-size: 14px;
  color: #8F8F8F;
}

.best__right-duration-sale {
  margin-bottom: 23px;
  padding-bottom: 25px;
  position: relative;
  border-bottom: 1px solid #F0F0F0;
}

.best__right-new-price {
  margin-right: 17px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
}

.best__right-new-price::after {
  content: "-45%";
  position: absolute;
  padding: 4px 8px;
  left: 192px;
  bottom: 31px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #E24B33;
  border-radius: 15px;
}

.best__right-old-price {
  text-decoration-line: line-through;
  color: #8F8F8F;
}

.best__right-timer {
  width: 100%;
  max-width: 224px;
  min-height: 64px;
  padding: 12px 14px;
  position: absolute;
  top: -33px;
  left: 278px;
  background-color: #F8F8F8;
}

.timer-block {
  width: 52px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

.timer-time {
  font-weight: 700;
}

.timer-value {
  font-weight: 300;
  font-size: 11px;
}

.best__right-main {
  margin-bottom: 37px;
}

.best__right-colors-wrapper {
  margin-bottom: 30px;
}

.best__right-main-title {
  display: inline-block;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}

.best__right-colors {
  max-width: 152px;
}

.best__right-color {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 100%;
}

.best__right-color::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 1px solid #DDDDDD;
  border-radius: 100%;
  cursor: pointer;
}

.best__right-color:focus::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 1px solid #303030;
  border-radius: 100%;
  cursor: pointer;
}

.first-color {
  background-color: #D9D9D9;
}

.second-color {
  background-color: #F1CB7E;
}

.third-color {
  background-color: #EA8C48;
}

.fourth-color {
  background-color: #A7E492;
}

.best__sizes-tooltip {
  display: inline-block;
  position: relative;
}

.best__tooltip-marker {
  cursor: pointer;
}

.question-marker circle {
  fill: #F0F0F0;
  transition: fill 0.1s ease-in-out;
}

.question-marker path {
  fill: #303030;
}

.best__tooltip-popup {
  max-width: 271px;
  position: absolute;
  left: -102px;
  bottom: 27px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  display: none;
  visibility: hidden;
}

.tooltip-tringle {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -3px;
  left: 47%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFFFFF;
  display: none;
  visibility: hidden;
}

.tooltip-text {
  font-size: 14px;
}

.best__tooltip-marker:hover .question-marker circle {
  fill: #DDDDDD;
}

.best__tooltip-marker:focus + .best__tooltip-popup,
.best__tooltip-marker:focus + .best__tooltip-popup .tooltip-tringle,
.best__tooltip-marker:hover + .best__tooltip-popup,
.best__tooltip-marker:hover + .best__tooltip-popup .tooltip-tringle {
  display: block;
  visibility: visible;
}

.best__right-sizes {
  max-width: 572px;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.best__right-size {
  padding: 9px 12px;
  font-size: 14px;
  line-height: 100%;
  border: 1px solid #DDDDDD;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.best__right-size:focus {
  background-color: #303030;
  border: 1px solid #303030;
  color: #FFFFFF;
}

.best__right-size:hover {
  border: 1px solid #303030;
}

.best__footer-buttons {
  max-width: 400px;
  display: inline-block;
  margin-right: 41px;
}

.best__footer-button {
  width: 100%;
  padding: 21px 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #DDDDDD;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.best__footer-button:first-child {
  margin-bottom: 7px;
}

.best__footer-button:focus {
  border: 1px solid #303030;
  background-color: #303030;
  color: #FFFFFF;
}

.best__footer-button:hover {
  border: 1px solid #303030;
}

.best__footer-interaction {
  max-width: 130px;
  display: inline-block;
}

.best__interaction-text {
  margin-left: 4px;
  font-weight: 300;
  font-size: 14px;
  transition: color 0.1s ease-in-out;
}

.best__interaction-btn:not(:last-child) {
  margin-bottom: 14px;
}

.best__interaction-btn:hover .like-svg path {
  fill: #979797;
}

.best__interaction-btn:active .like-svg path {
  fill: #E24B33;
}

.best__chart-svg line {
  stroke: #C9C9C9;
  transition: stroke 0.1s ease-in-out;
}

.best__interaction-btn:hover .best__chart-svg line {
  stroke: #979797;
}

.best__interaction-btn:hover .best__interaction-text {
  color: #979797;
}

.best__interaction-btn:active .best__chart-svg line {
  stroke: #000000;
}

.best__share-svg path {
  fill: #C9C9C9;
  transition: fill 0.1s ease-in-out;
}

.best__interaction-btn:hover .best__share-svg path {
  fill: #979797;
}

.best__interaction-btn:active .best__share-svg path {
  fill: #000000;
}

.articles {
  padding: 0 10px 0 10px;
}

.articles__read-btn {
  margin-top: 20px;
}

.articles__read-btn-text {
  margin-right: 7px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.articles__arrow-svg path {
  fill: #000000;
  transition: fill 0.2s ease-in-out;
}

.articles__arrow-svg {
  transform: translateX(0);
  transition: transform 0.1s ease-in-out;
}

.articles__read-btn:hover .articles__read-btn-text {
  color: #979797;
}

.articles__read-btn:hover .articles__arrow-svg path {
  fill: #979797;
}

.articles__read-btn:active .articles__arrow-svg {
  transform: translateX(8px);
}

.articles__row {
  justify-content: space-between;
  gap: 5px;
}

.articles__row-title {
  margin-bottom: 36px;
}

.articles__card {
  width: 100%;
  max-width: 310px;
  min-height: 475px;
  padding: 0;
  cursor: pointer;
}

.articles__card-img {
  width: 100%;
  height: 381px;
  margin-bottom: 20px;
}

.articles-first {
  background: url("../assets/img/articles-first.jpg") no-repeat center center/cover;
}

.articles-second {
  background: url("../assets/img/articles-second.jpg") no-repeat center center/cover;
}

.articles-third {
  background: url("../assets/img/articles-third.jpg") no-repeat center center/cover;
}

.articles-fourth {
  background: url("../assets/img/articles-fourth.jpg") no-repeat center center/cover;
}

.articles__card-date {
  display: block;
}

.articles__card-date {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
}

.articles__card-descr {
  margin-bottom: 0;
  font-weight: 500;
  line-height: 100%;
  color: #303030;
}

@media (max-width: 1309px) {
  .hero__row {
    display: flex;
    justify-content: space-between;
  }
  .sale__card {
    margin-top: 118px;
  }
  .sale__top-row {
    margin-bottom: 0;
  }
  .best__right-duration-sale {
    padding-bottom: 89px;
  }
  .best__right-timer {
    top: 39px;
    left: 0;
  }
  .best__right-new-price::after {
    bottom: 105px;
  }
  .best__footer-button {
    padding: 21px 10px;
  }
}
@media (max-width: 1295px) {
  .hero__right {
    max-width: 356px;
  }
  .hero__left {
    max-width: 648px;
  }
  .popular__card-row {
    justify-content: flex-start;
  }
}
@media (max-width: 1150px) {
  .header-bottom__nav {
    padding: 10px;
  }
  .header-top__left {
    max-width: 197px;
    flex-direction: column;
  }
  .header-top__number-link {
    margin: 13px 0 0 0;
  }
  .header-top__right {
    flex-direction: column;
  }
  .header-top__login {
    display: inline-block;
    margin-bottom: 10px;
  }
  .best__right-sizes {
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .header-bottom__nav {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: -111px;
    left: -11px;
    z-index: 100;
    padding: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    transform: translateX(-1000px);
    transition: transform 0.2s ease-in-out;
  }
  .nav--active {
    transform: translateX(0);
  }
  .stop-scroll {
    overflow: hidden;
  }
  .header-top__left {
    display: none;
  }
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-link {
    font-size: 18px;
  }
  .nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header-bottom {
    padding: 10px;
  }
  .burger-select-item,
  .number-link-item {
    display: block;
  }
  .burger-number-link {
    margin: 0;
  }
  .burger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20px;
    cursor: pointer;
  }
  .burger-line {
    width: 100%;
    height: 3px;
    background-color: #303030;
    border-radius: 1.5px;
    transition: width 0.05s ease-in-out, background-color 0.2s ease-in-out;
  }
  .burger:hover .burger-line {
    background-color: #979797;
  }
  .burger:active .burger-line:nth-child(2) {
    width: 70%;
  }
  .burger:active .burger-line:last-child {
    width: 50%;
  }
  .burger:active .burger-line {
    background-color: #E1A661;
  }
  .burger-cross {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .cross-line {
    width: 100%;
    height: 4px;
    background-color: #303030;
    border-radius: 1.5px;
    transition: background-color 0.2s ease-in-out;
  }
  .cross-line:first-child {
    transform: translate(0, 13px) rotate(45deg);
  }
  .cross-line:last-child {
    transform: translate(0, -13px) rotate(-45deg);
  }
  .burger-cross:hover .cross-line {
    background-color: #979797;
  }
  .burger-cross:active .cross-line {
    background-color: #E1A661;
  }
  .hero__sale {
    margin: 9px 0 20px 0;
    font-size: 20px;
    letter-spacing: 0;
  }
  .hero__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .hero__left {
    max-width: 425px;
  }
  .hero__right {
    max-width: 285px;
    right: 50px;
  }
}
@media (max-width: 991px) {
  .best__tooltip-popup {
    left: -6px;
  }
  .tooltip-tringle {
    left: 5%;
  }
}
@media (max-width: 869px) {
  .sale__banners-row {
    justify-content: center;
  }
  .sale__banner {
    max-width: 550px;
  }
}
@media (max-width: 849px) {
  .popular__card-row {
    justify-content: center;
  }
}
@media (max-width: 735px) {
  .hero__row {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero__right {
    max-width: 439px;
    min-height: 300px;
  }
  .hero__left {
    background: none;
    min-height: 200px;
  }
  .hero__arrows {
    top: 30%;
  }
  .pagination {
    bottom: 190px;
  }
}
@media (max-width: 644px) {
  .hero {
    margin-bottom: 40px;
  }
  .sale__top-row {
    margin-bottom: 30px;
  }
  .sale__arrows {
    top: -66px;
  }
  .sale__categories {
    flex-wrap: wrap;
    gap: 5px;
  }
  .sale__card:first-child {
    margin-top: 0;
  }
  .sale__rings-row {
    justify-content: center;
  }
  .articles__row {
    justify-content: center;
  }
  .articles__read-btn {
    margin-top: 0px;
  }
}
@media (max-width: 486px) {
  .header-bottom__nav {
    padding: 70px 12px 12px;
  }
  .best__left {
    min-height: 290px;
  }
}
@media (max-width: 429px) {
  .hero__right {
    max-width: 224px;
    right: -6px;
  }
  .hero__title {
    font-size: 22px;
  }
  .popular__card {
    max-width: 259px;
  }
  .sale__banner-descr {
    max-width: 192px;
    padding: 41px 0 0 5px;
  }
  .third-banner-img {
    max-width: 122px;
  }
  .first-banner-img {
    margin-right: 0;
  }
  .second-banner-img {
    max-width: 150px;
  }
  .best__footer-buttons {
    margin-right: 20px;
  }
  .best__footer-button {
    width: 150px;
  }
  link {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
