$white: #FFFFFF;
$black: #000000;
$snow-gray: #F8F8F8;
$light-gray: #F0F0F0;
$dust-gray: #DDDDDD;
$lightning-gray: #D9D9D9;
$metallic: #C9C9C9;
$silver-gray: #A2A2A2;
$space-gray: #979797;
$middle-gray: #8F8F8F;
$gray: #505050;
$dark-gray: #303030;
$gold: #E1A661;
$light-gold: #F1CB7E;
$light-orange: #EA8C48;
$orange: #E46942;
$tomato: #E24B33;
$sea-blue: #5B8A8F;
$sky-blue: #43807F;
$night-blue: #495159;
$lime: #A7E492;