@media (max-width: 1289px) {
  .popular__card {
    margin-top: 10px;
  }
}

@media (max-width: 1304px) {
  .sale__banner {
    margin-top: 10px;
  }
}

@media (max-width: 1309px) {
  .sale__card {
    margin-top: 118px;
  }
}