@import 'colors';
@import 'fonts';
@import 'extends';

::-webkit-scrollbar {
  display: none;
}

.body {
  min-width: 320px;
  font-family: 'Inter';
  background-color: $white;
  color: $dark-gray;
}

@import 'components/header';
@import 'components/hero';
@import 'components/popular';
@import 'components/sale';
@import 'components/best';
@import 'components/articles';
@import 'media';