.header {
  margin: 24px 0 20px 0;
  padding: 0 10px 0 10px;
}

.header-top {
  margin-bottom: 18px;
}

.container-limit {
  max-width: 1300px;
}

.col-lg-12 {
  padding: 0;
}

.header-top__left {
  width: 100%;
  max-width: 361px;
}

.header-top__select-block {
  @extend %choice;

  & .choices::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 2px;
    width: 12px;
    height: 16px;
    background: url('../assets/svg/marker.svg') no-repeat left center / contain;
  }

  & .choices__inner {
    padding: 7.5px 19.5px 3.75px;
  }

  & .choices[data-type*=select-one]::after {
    right: 36.5px;
  }
}

.header-top__number-link {
  width: 100%;
  max-width: 145px;
  margin: 13px 0 0 23px;
  @extend %default-link;
  font-size: 14px;
}

.phone-svg {
  margin-right: 10px;
}

.header-logo {
  margin: 0 33px 3px 0;
}

.header-top__right {
  width: 100%;
  max-width: 330px;
  margin-top: 11px;
}

.header-top__login-link {
  font-size: 14px;
  @extend %default-link;
}

.header-top__login-link:first-child {
  border-right: 1px solid $dark-gray;
  padding-right: 12px; 
}

.header-top__login-link:last-child {
  padding-left: 9px; 
}

.header-top__interaction {
  width: 100%;
  max-width: 116px;
}

.like-button {
  position: relative;
}

.like-button:before {
  content: '23';
  position: absolute;
  width: 19px;
  height: 19px;
  top: -3px;
  right: -13px;
  padding-top: 2px;
  font-weight: 700;
  font-size: 10px;
  color: $white;
  text-align: center;
  background-color: $orange;
  border-radius: 100%;
}

.header__like-svg path {
  fill: $dark-gray;
  transition: fill 0.2s ease-in-out;
}

.header-button:hover .header__like-svg path {
  fill: $silver-gray;
}

.header-button:active .header__like-svg path {
  fill: $gold;
}

.chart-svg line {
  stroke: $dark-gray;
  transition: stroke 0.2s ease-in-out;
}

.bag-svg rect:first-child,
.bag-svg mask {
  fill: $white;
}

.bag-svg rect:nth-child(3),
.bag-svg path {
  stroke: $dark-gray;
  transition: stroke 0.2s ease-in-out;
}

.header-button:hover .chart-svg line,
.header-button:hover .bag-svg rect:nth-child(3),
.header-button:hover .bag-svg path {
  stroke: $silver-gray;
}

.header-button:active .chart-svg line,
.header-button:active .bag-svg rect:nth-child(3),
.header-button:active .bag-svg path {
  stroke: $gold;
}

.header-bottom {
  background-color: $snow-gray;
}

.header-bottom__nav {
  width: 100%;
  max-width: 998px;
  padding: 22px 110px 20px 50px;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
  border: none;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.nav-link:hover {
  opacity: 0.5; 
}

.nav-link:active {
  color: $gold;
}

.header-bottom__search {
  width: 100%;
  max-width: 302px;
  height: 100%;
  border-left: 1px solid $light-gray;
}

.loupe-svg {
  margin-left: 24px;
}

.loupe-svg path {
  fill: $dark-gray;
  transition: fill 0.2s ease-in-out;
}

.header-button:hover .loupe-svg path {
  fill: $silver-gray;
}

.header-button:active .loupe-svg path {
  fill: $gold;
}

.header-bottom__input {
  max-width: 124px;
  margin-left: 11px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}

.header-bottom__input::placeholder {
  font-size: 14px;
}