.sale {
  padding: 0 10px 0 10px;
  margin-bottom: 120px;
}

.sale__title {
  @extend %section-title;
  margin-bottom: 24px;
}

.sale__top-row {
  position: relative;
  margin-bottom: 36px;
}

.sale__categories {
  width: 100%;
  max-width: 461px;
}

.sale__btn {
  padding: 13px 30px;
  font-size: 14px;
  line-height: 100%;
  background-color: $light-gray;
  border-radius: 21px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.sale__btn:hover {
  background-color: $dust-gray;
}

.sale__btn:active {
  background-color: $dark-gray;
  color: $white;
}

.sale__arrows {
  position: absolute;
  top: -14px;
  right: 5px;
}


.sale-arrow {
  opacity: 0.2;
  margin-right: 4px;
}

.sale__rings-row {
  margin-bottom: 120px;
  justify-content: space-between;
  gap: 5px;
}

.sale__card {
  width: 100%;
  max-width: 310px;
  min-height: 370px;
  position: relative;
  padding: 15px 21px 24px 24px;
  cursor: pointer;
}

.sale__card::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  border: 1px solid $light-gray;
}

.sale__card--active::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.sale__card-top {
  width: 100%;
  min-height: 240px;
}

.first-ring {
  background: url('../assets/img/sale-first-ring.png') no-repeat top 24px center / 200px 200px;
}

.second-ring {
  background: url('../assets/img/sale-second-ring.png') no-repeat top 24px center / 200px 200px;
}

.third-ring {
  background: url('../assets/img/sale-third-ring.png') no-repeat top 24px center / 200px 200px;
}

.fourth-ring {
  background: url('../assets/img/sale-fourth-ring.png') no-repeat top 24px center / 200px 200px;
}

.tag-sale {
  height: fit-content;
  margin-right: 4px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: $white;
  background: $sea-blue;
  border-radius: 15px;
  cursor: default;
}

.tag-hit {
  height: fit-content;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: $white;
  background: $gold;
  border-radius: 15px;
  cursor: default;
}

.like-btn {
  margin-bottom: 9px;
}

.like-svg path,
.view-more-svg path {
  fill: $metallic;
  transition: fill 0.1s ease-in-out;
}

.like-btn:hover .like-svg path,
.more-btn:hover .view-more-svg path {
  fill: $space-gray;
}

.like-btn:active .like-svg path {
  fill: $tomato;
}

.more-btn:active .view-more-svg path {
  fill: $black;
}

.sale__pagination {
  @extend %pagination;
  top: 60.8%;
  left: 43.4%;
}

.sale__card-bottom {
  position: relative;
}

.sale__card-price {
  display: inline-block;
  position: relative;
  margin: 11px 9px 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}

.sale-prise::before {
  content: '-45%';
  position: absolute;
  padding: 4px 8px;
  right: -183px;
  bottom: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: $white;
  background: $tomato;
  border-radius: 15px;
}

.sale__card-old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: $middle-gray;
}

.sale__card-descr {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.sale__card-selects {
  width: 100%;
  max-width: 310px;
  position: absolute;
  bottom: -108px;
  left: 0;
  display: none;
  visibility: hidden;
  padding: 0 24px 20px;
  z-index: 3;
  background-color: $white;
  @extend %choice;

  & .choices {
    margin-bottom: 0;
    background-color: $light-gray;
  }

  & .choices:first-child {
    margin-top: 0;
  }

  & .choices:last-child {
    margin-top: 5px;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-right: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
  }

  & .choices__list--single {
    padding: 4px 16px 4px 0px;
  }

  & .choices__inner {
    padding: 7px 5px 5px 16px;
  }

  & .choices[data-type*=select-one]::after, .header-top__select-block .choices[data-type*=select-one]::after {
    right: 14px;
  }
}

.selects--active {
  display: block;
  visibility: visible;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.sale__banners-row {
  gap: 10px;
  justify-content: space-between;
}

.sale__banner {
  max-width: 420px;
  min-height: 290px;
  position: relative;
  padding: 0;
  background-color: $snow-gray;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.sale__banner:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.sale__banner::after {
  content: '';
  width: 100%;
  max-width: 310px;
  min-height: 265px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: url('../assets/img/sale-banner-bg.png') no-repeat left bottom / contain;
}

.sale__banner-left {
  position: relative;
  z-index: 2;
}

.sale__banner-descr {
  max-width: 222px;
  padding: 72px 0 0 27px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  text-transform: uppercase;
}

.sale__banner-sale {
  width: 194px;
  height: 52px;
  position: absolute;
  bottom: 48px;
  left: 0;
  padding: 0 26px 0 22px;
}

.sale__first-banner {
  background-color: $sky-blue;
}

.sale__second-banner {
  background-color: $tomato;
}

.sale__third-banner {
  background-color: $gold;
}

.sale__banner-sale-text {
  display: inline-block;
  margin: 0 14px 0 4px;
  font-weight: 600;
  font-size: 24px;
  color: $white;
}

.sale__banner-precent {
  font-weight: 600;
  font-size: 36px;
  color: $white;
}

.first-banner-img {
  width: 100%;
  max-width: 124px;
  min-height: 283px;
  margin-right: 18px;
  z-index: 2;
  background: url('../assets/img/sale-first-banner.png') no-repeat right top / contain;
}

.second-banner-img {
  width: 100%;
  max-width: 229px;
  min-height: 283px;
  z-index: 2;
  background: url('../assets/img/sale-second-banner.png') no-repeat right bottom / contain;
}

.third-banner-img {
  width: 100%;
  max-width: 221px;
  min-height: 283px;
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 2;
  background: url(../assets/img/sale-third-banner.png) no-repeat right bottom/contain;
}